*{
    margin: 0;
    padding: 0;
    font-family:'Outfit', sans-serif;
    box-sizing: border-box;
    text-align: center;
    
}

.container{
    width: 100%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.CD{
    background-color: white;
    border-radius: 20px;
    width: 310px;
    height: 500px;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.2);
}

.CD img{
    width:300px;
    height:300px;
    border-radius: 20px;
    padding: 10px;
}

.text1{
    color: hsl(218, 44%, 22%);
    font-weight:bolder;
    font-size:x-large;
    text-align:center;
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 15px;

}
.text2{

    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
    padding: 25px;
    padding-top: 10px;
}